[submodule "modules/ASR/Whisper-Finetune"]
path = modules/ASR/Whisper-Finetune
url = https://github.com/YNU-IST-Project-Chatbot/Whisper-Finetune
[submodule "modules/NLG/ChatGLM3"]
path = modules/NLG/ChatGLM3
url = https://github.com/YNU-IST-Project-Chatbot/ChatGLM3
[submodule "modules/TTS/FastSpeech2"]
path = modules/TTS/FastSpeech2
url = https://github.com/YNU-IST-Project-Chatbot/FastSpeech2
