$title-color: #C7B48E;

@font-face {
    font-family: "Genshin Font";
    src: url("../font/GenshinFont.ttf") format("truetype");
}
body {
    background-image: "../pic/genshin_chat demo.jpg";
}
.gradio-container {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, rgba(33, 35, 50, 0.8), rgba(120, 25, 200, 0)) !important;

    h1 {
        font-family: "Genshin Font", sans-serif;
        color: $title-color;
    }
}

