$color_name: #C7B48E;
$color_botInfoBackground: #3b4456;
$color_botInfoText: #e7effa;
$color_userInfoBackground: #d7d1c7;
$color_userInfoText: #2f2927;
$font-family: "Douyin Sans", sans-serif;

body {
    margin: 0;
    padding: 0;
    background: url("https://i.miji.bid/2024/01/14/9ddfec2d27cb79f40ea51b40f9d7131d.webp") !important;
    background-repeat: no-repeat;
    background-size: cover !important;

    div.gradio-container {
        display: flex;
        flex-direction: column;

        div#baseContainer {
            div#sidebar {
                div#asrSwitch {
                    span {
                        font-family: $font-family !important;
                    }

                    input {
                        font-family: $font-family !important;
                    }
                }

                div#nlgSwitch {
                    span {
                        font-family: $font-family !important;
                    }

                    input {
                        font-family: $font-family !important;
                    }
                }

                div#ttsSwitch {
                    span {
                        font-family: $font-family !important;
                    }

                    input {
                        font-family: $font-family !important;
                    }
                }
            }

            div#chatPanel {
                div#chatbot {

                    div.wrapper {
                        background-color: rgba(0, 0, 0, 0);

                        label.svelte-1b6s6s {
                            display: none;

                            span.svelte-1b6s6s {
                                svg {
                                    display: none;
                                }
                            }
                        }

                        div.bubble-wrap {
                            div.message.user {
                                background-color: $color_userInfoBackground;
                                border: 0 !important;
                                padding: 15px;
                                color: $color_userInfoText !important;
                                font-family: $font-family !important;
                            }

                            div.message.bot {
                                background-color: $color_botInfoBackground !important;
                                border: 0 !important;
                                padding: 15px;
                                color: $color_botInfoText !important;
                                font-family: $font-family !important;
                            }
                        }

                        .message {
                            width: auto;
                        }

                        .avatar-container {
                            width: 70px !important;
                            height: 70px !important;

                            .avatar-image {
                                width: 70px !important;
                                height: 70px !important;
                            }
                        }
                    }
                }

                div#inputPanel {
                    div#textInput {
                        label {
                            border: 0 !important;

                            textarea {
                                border: 0 !important;
                                height: 32px !important;
                                color: $color_botInfoText !important;
                                font-family: $font-family !important;
                            }
                        }
                    }

                    div#audioInput {

                        label {
                            display: none !important;
                        }

                        div.component-wrapper {
                            div.controls {
                                div.wrapper {
                                    button {
                                        font-family: $font-family !important;
                                    }
                                }
                            }

                            select.mic-select {
                                display: none !important;
                            }
                        }
                    }

                    button#submitButton {
                        font-family: $font-family !important;
                        background-color: $color_userInfoBackground !important;
                        color: $color_userInfoText !important;
                    }

                    button#cleanButton {
                        font-family: $font-family !important;
                        background-color: $color_userInfoBackground !important;
                        color: $color_userInfoText !important;
                    }
                }
            }
        }
    }
}

