body {
  margin: 0;
  padding: 0;
  background: url("https://i.miji.bid/2024/01/14/9ddfec2d27cb79f40ea51b40f9d7131d.webp") !important;
  background-repeat: no-repeat;
  background-size: cover !important;
}
body div.gradio-container {
  display: flex;
  flex-direction: column;
}
body div.gradio-container div#baseContainer div#chatPanel div#chatbot div.wrapper {
  background-color: rgba(0, 0, 0, 0);
}
body div.gradio-container div#baseContainer div#chatPanel div#chatbot div.wrapper label.svelte-1b6s6s {
  font-family: "Douyin Sans", sans-serif !important;
}
body div.gradio-container div#baseContainer div#chatPanel div#chatbot div.wrapper label.svelte-1b6s6s span.svelte-1b6s6s svg {
  display: none;
}
body div.gradio-container div#baseContainer div#chatPanel div#chatbot div.wrapper div.bubble-wrap div.message.user {
  background-color: #d7d1c7;
  border: 0 !important;
  padding: 15px;
  color: #2f2927 !important;
  font-family: "Douyin Sans", sans-serif !important;
}
body div.gradio-container div#baseContainer div#chatPanel div#chatbot div.wrapper div.bubble-wrap div.message.bot {
  background-color: #3b4456 !important;
  border: 0 !important;
  padding: 15px;
  color: #e7effa !important;
  font-family: "Douyin Sans", sans-serif !important;
}
body div.gradio-container div#baseContainer div#chatPanel div#chatbot div.wrapper .message {
  width: auto;
}
body div.gradio-container div#baseContainer div#chatPanel div#chatbot div.wrapper .avatar-container {
  width: 70px !important;
  height: 70px !important;
}
body div.gradio-container div#baseContainer div#chatPanel div#chatbot div.wrapper .avatar-container .avatar-image {
  width: 70px !important;
  height: 70px !important;
}
body div.gradio-container div#baseContainer div#chatPanel div#inputPanel div#textInput label {
  border: 0 !important;
}
body div.gradio-container div#baseContainer div#chatPanel div#inputPanel div#textInput label textarea {
  border: 0 !important;
  height: 32px !important;
  color: #e7effa !important;
  font-family: "Douyin Sans", sans-serif !important;
}
body div.gradio-container div#baseContainer div#chatPanel div#inputPanel div#audioInput label {
  display: none !important;
}
body div.gradio-container div#baseContainer div#chatPanel div#inputPanel div#audioInput div.svelte-19sk1im {
  display: none !important;
}
body div.gradio-container div#baseContainer div#chatPanel div#inputPanel div#audioInput div.component-wrapper div.controls div.wrapper button {
  font-family: "Douyin Sans", sans-serif !important;
}
body div.gradio-container div#baseContainer div#chatPanel div#inputPanel div#audioInput div.component-wrapper select.mic-select {
  display: none !important;
}
body div.gradio-container div#baseContainer div#chatPanel div#inputPanel button#submitButton {
  font-family: "Douyin Sans", sans-serif !important;
  background-color: #d7d1c7 !important;
  color: #2f2927 !important;
}
body div.gradio-container div#baseContainer div#chatPanel div#inputPanel button#cleanButton {
  font-family: "Douyin Sans", sans-serif !important;
  background-color: #d7d1c7 !important;
  color: #2f2927 !important;
}

/*# sourceMappingURL=GenshinStyle.css.map */
